body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #559f9e;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #0e1613;
}

#formulario {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #0e1613;
}

input[type="text"],
input[type="tel"],
input[type="email"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #0c2831;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0c2831;
}

.contato {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contato h2 {
    margin-top: 0;
    width: ma;
}

#listaContatos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Distribui os cartões da esquerda para a direita */
}

.contato {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: calc(20% - 20px); /* 20% para permitir até 5 cartões em uma linha, subtraindo a margem */
    margin-right: 20px; /* Margem direita para separar os cartões */
    margin-bottom: 20px; /* Adiciona margem inferior para separar os cartões verticalmente */
    box-sizing: border-box; /* Considerar a borda e o preenchimento na largura total */
}

.contato:nth-child(5n) {
    margin-right: 0; /* Remove a margem direita do quinto cartão em cada linha */
}




.contato button:hover {
    background-color: #c82333;
}
